@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

:root {
    --dancing-font : 'Dancing Script', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.carousel-item img {
    width: 100%;
    height: 80vh;
}

.about h1, .services h1 , .team h1, .contact h1{
    font-family: var(--dancing-font);
}

.card-body img{
    min-width: 40%;
    max-height: 200px;
}